:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%) ;
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%) ;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Bai Jamjuree', sans-serif;
}


/* font-family: 'Bai Jamjuree', sans-serif; */
#bk-image-header  {
    
    position: absolute;
    width: 100vw;
}

#bk-image-header img{
    background-repeat: no-repeat;
    
    width: 100vw;
}

#logo-header img {
    margin-top: 14rem;
}

#logo-header {
    text-align: center;
}

.title-header {
    
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    width: 73%;
    margin-left: 13.5%;
    padding-top: 83px;
    color: var(--Dark-Grayish-Blue);
}

.des-header {
    font-size: 1.6rem;
    padding-top: 27px;
    text-align: center;
    width: 82%;
    margin-left: 9%;
    color: var(--Grayish-Blue);
}

.btns-header {
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    margin-top: 5rem;
    
}



.btns-header a {
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 2rem 6.5rem;
    border-radius: 3rem;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    -webkit-box-shadow: 0 2px 15px #bfbfbf;
    box-shadow: 0 2px 15px #bfbfbf;
}

.btn-ios-header {
    font-weight: 600;
    font-size: 1.8rem;
    background: var(--Strong-Cyan);
    border-radius: 33px;
    box-shadow: 0 3px #36A99A;
    margin: 0px 20px;
    padding: 15px;
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;    
    cursor: pointer;

}

.btn-ios-header:hover{
    background-color: #36A99A;    
    webkit-box-shadow: 0px 12px 19px -5px rgba(3,106,153,0.62);
    -moz-box-shadow: 0px 12px 19px -5px rgba(3,106,153,0.62);
    box-shadow: 0px 12px 19px -5px rgba(3,106,153,0.62);
}




.btn-mac-header {
    font-weight: 600;
    font-size: 1.8rem;
    background:   var(--Light-Blue);
    border-radius: 33px;
    box-shadow:  0 3px #7455D2;
    margin: 0px 20px;
    padding: 15px;
    margin-top: 7%;
    color:         white;
    display:       block;
    text-align:    center;
    text-decoration: none;    
    cursor: pointer;

}

.btn-mac-header:hover{
 background-color: #7455D2;
-webkit-box-shadow: 0px 12px 19px -5px rgba(116,85,210,1);
-moz-box-shadow: 0px 12px 19px -5px rgba(116,85,210,1);
box-shadow: 0px 12px 19px -5px rgba(116,85,210,1);
}

.links a:hover {
    color: var(--Strong-Cyan);
}

.keep-track {
    padding-top: 150px;
    text-align: center;
}

.keep-track h2{
    font-size: 2.3rem;
    width: 69%;
    margin-left: 15.5%;
    color: var(--Dark-Grayish-Blue);

}

.keep-track p{
    font-size: 1.5rem;
    color: var(--Grayish-Blue);
    width: 75%;
    margin: 22px 12.5%;
    margin-bottom: 12%;
}

.monitor-desc {
    text-align: center;
}

.monitor-img img {
    width: 82.4%;
    max-width: 500px;
}

.monitor-desc h3 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: var(--Dark-Grayish-Blue);
}

.monitor-desc p {
    margin-bottom: 4rem;
    font-size: 1.6rem;
    width: 77.4%;
    margin-left: 11.3%;
    color: var(--Grayish-Blue);
}
.clip-img img {
    width: 92%;
    max-width: 500px;
    margin-bottom: 21.3%;
}

.clip-img  {
    margin-top: 16rem;
}

.clipboard  {
    text-align: center;
}

.clipboard h3{
    margin-top: 1rem;
    margin-bottom: 3.8%;
    font-size: 2.3rem;
    color: var(--Dark-Grayish-Blue);
    width: 55%;
    margin-left: 22.5%;
}

.clip-descr1{
    margin-bottom: 7rem;
    font-size: 1.6rem;
    width: 85.4%;
    margin-left: 7.3%;
    color: var(--Grayish-Blue);
    padding-bottom: 5rem;
}

.clip-descr2 {
    margin-bottom: 9.7%;
    font-size: 1.6rem;
    width: 81.4%;
    margin-left: 9.3%;
    color: var(--Grayish-Blue);

}

.clip-descr3 {
    margin-bottom: 9.7%;
    font-size: 1.6rem;
    width: 82.4%;
    margin-left: 8.8%;
    color: var(--Grayish-Blue);

}

.clip-descr4 {
    margin-bottom: 15.7%;
    font-size: 1.6rem;
    width: 81.4%;
    margin-left: 9.3%;
    color: var(--Grayish-Blue);
    

}
.allies {
    display: block;
    text-align: center;
    padding-top: -8rem;
    
}

.allies img {
    padding-top: 3rem;
}

.Clip-final {
    margin-top: 12rem;
}

.clip-text strong {
    font-weight: 600;
    font-size: 2.3rem;
    text-align: center;
    padding-top: 83px;
    color: var(--Dark-Grayish-Blue);
    
}

.clip-text {
    width: 70%;
    text-align: center;
    margin-left: 15%;
}

.clip-text p{
    margin-top: 7%;
   font-size: 1.5rem;
   margin-bottom: 10%;
   width: 114%;
    padding-right: 5%;
}

.btns-final {
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    margin-top: 5rem;
}

.btns-final a {
   
        font-weight: 600;
        margin-bottom: 1rem;
        padding: 2rem 6.5rem;
        border-radius: 3rem;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        -webkit-box-shadow: 0 2px 15px #bfbfbf;
        box-shadow: 0 2px 15px #bfbfbf;
    
}

footer {
    background-color: #E8E8E8;
    text-align: center;

}

.footer-logo img {
    width: 83px;
    margin-top: 2rem;
    margin-bottom: 0rem;
}

.links a {
    text-decoration: none;
    display: block;
    font-size: 1.6rem;
    padding-top: 2rem;
    color: var(--Dark-Grayish-Blue);
    font-weight: 600;
}

.social-media img{
    margin: 2rem;
    padding-top: 3rem;
}

.social-media {
    margin-top: -3rem;
}

.attribution a {
    text-decoration: none;
    
}

.attribution {
    font-size: 1rem;
}
